/* button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} */

.my-custom-class {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: #fff !important;
    font-weight: bold;
    border: 2px solid #3c00b1;
}

.my-custom-class:hover {
    box-shadow: 0 8px 15px rgba(74, 0, 224, 0.3);
    transform: translateY(-3px);
    filter: brightness(1.1);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
